<!DOCTYPE html>
<html lang="en">
<head>
    	<!-- Required meta tags --> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="static/vendors/owl.carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="static/vendors/owl.carousel/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="static/vendors/aos/css/aos.css">
		<link rel="stylesheet" href="static/vendors/jquery-flipster/css/jquery.flipster.css">
		<link rel="stylesheet" href="static/css/style.css">
		<link rel="shortcut icon" href="static/images/logo.png">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
    {% block title %}

    {% endblock %}

</head>
<body>

    {% block body %}

    {% endblock %}
    <script src="static/vendors/base/vendor.bundle.base.js"></script>
<script src="static/vendors/owl.carousel/js/owl.carousel.js"></script>
<script src="static/vendors/aos/js/aos.js"></script>
<script src="static/vendors/jquery-flipster/js/jquery.flipster.min.js"></script>
<script src="static/js/template.js"></script>
<script href="https://100dayscss.com/codepen/js/jquery.min.js"/>

</body>
</html>