<section class="features" id="features">
    <div class="container">

        <div class="feature-title my-5">
        <h2>Utilities</h2>
        <p>What do you want to do ?</p>
        </div>

        <div class="row my-3">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" onclick="window.open('/upload-img')">
            <div class="feature-box">
            <div class="icon"><i class="bx bx-selection"></i></div>
            <h4 class="title"><a href="">Image Resizing</a></h4>
            <p class="description">Resize your image to a specific height, width, or general scale to fit your size specifications.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-box">
            <div class="icon"><i class="bx bx-loader"></i></div>
            <h4 class="title"><a href="">Image Enhancement</a></h4>
            <p class="description">Enhance image quality by reducing noise, sharpening, improving contrast and brightness etc.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-box">
            <div class="icon"><i class="bx bx-recycle"></i></div>
            <h4 class="title"><a href="">Convert Image</a></h4>
            <p class="description">Convert image file extension i.e from .jpg to .png, .jfif to .jpg, .png to .jpeg etc.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="feature-box">
            <div class="icon"><i class="bx bx-current-location"></i></div>
            <h4 class="title"><a href="">Compress Image</a></h4>
            <p class="description">Optimize image file compression for .jpg, .png, and .jpeg using lossless algorithms.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-box">
            <div class="icon"><i class="bx bx-images"></i></div>
            <h4 class="title"><a href="">Remove Image Background</a></h4>
            <p class="description">Automatically remove image background and set it to transparent in seconds.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-box">
            <div class="icon"><i class="bx bx-trim"></i></div>
            <h4 class="title"><a href="">Change Image Background</a></h4>
            <p class="description">Switch image background automatically using accurate AI-based Image segmentation</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-box">
            <div class="icon"><i class="bx bx-pen"></i></div>
            <h4 class="title"><a href="">Image to Pencil sketch</a></h4>
            <p class="description">Automatically convert an image to an equivalent pencil sketch, Bye to artists !</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="feature-box">
            <div class="icon"><i class="bx bx-collection"></i></div>
            <h4 class="title"><a href="">Extract Image colors</a></h4>
            <p class="description">For developers - Fetch all possible colors from an image to create more appealing designs.</p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="show-more">
                <p class="text-center"><i class="bx bxs-down-arrow-square"></i> Show more</p>
            </div>
        </div>

        </div>

    </div>
</section>
