<!-- Main HTML file -->

{% extends 'base.html' %}

{% block title %}
    <title>ImagePlus</title>
{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<!-- ======= Intro Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
          <h1>ImagePlus is an AI-driven image processing application suited for all your needs</h1>
          <h2 class="my-3"></h2>
          <a href="#about" class="btn-get-started scrollto">Get Started  <span class="fa fa-arrow-right"></span></a>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/assets/images/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- Intro Hero -->

<!-- Explore unlimited possibility section -->
<!--
<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Explore unlimited Image processing possibilities !</h2>
                    <a class="site-btn">Watch Video <span class="fa fa-youtube-play"></span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <p>IMAGEPLUS is designed specifically to provide users with extra image processing capabilities powered by state-of-the-art artificial intelligence and computer vision techniques. It provides users with features like image resizing, image compression, image background segmentation, image cartooning, image to pencil sketch e.t.c. Listen to one of the creators, Banjo Dayo as he explains how to exploit this useful tool.</p>
            </div>
        </div>
    </div>
</section>
-->
<!-- Explore unlimited possibilityend -->

<!-- Feature  Section-->
{%  include 'features.html'%}
<!-- Features section  End-->

<!-- Features section -->
<section class="features-section spad" id="api">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="features-text">
                    <h2>Api</h2>
                    <h3>Explore unlimited Image processing possibilities with our api</h3>
                    <p>IMAGEPLUS is designed specifically to provide users with extra image processing capabilities powered by state-of-the-art artificial intelligence and computer vision techniques. It provides users with features, exploit this useful tool with our api.</p>
                    <a href="#" class="site-btn">Try Api <span class="fa fa-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-list">
                    <li><span class="fa fa-check-square"> </span> Image Resizing, Enhancement</li>
                    <li><span class="fa fa-check-square"></span>  Convert Image extension</li>
                    <li><span class="fa fa-check-square"></span>  Image Cartooning</li>
                    <li><span class="fa fa-check-square"></span>  Image size compression</li>
                    <li><span class="fa fa-check-square"></span>  Image to Pencil Sketch</li>
                    <li><span class="fa fa-check-square"></span>  <a href="/features" style="color: #fc0254">More <span class="fa fa-arrow-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- features section end -->

<!-- why section end -->
<section class="why-section spad" id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Why Image Plus?</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>IMAGEPLUS uniquely stands out above other online image processing applications due to its efficiency, intuitive interface, and usability.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="why-item my-3">
                    <div><span class="fa fa-lock fa-5x my-2"></span></div>
                    <h4>Data Privacy Policy</h4>
                    <p>Your data is fully secure and end-to-end encrypted.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="why-item my-3">
                    <div><span class="fa fa-image fa-5x my-2"></span></div>
                    <h4>High Quality</h4>
                    <p>We proffer high quality services</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="why-item my-3">
                    <div><span class="fa fa-code fa-5x my-2"></span></div>
                    <h4>Public REST APIs</h4>
                    <p>For developers</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="why-item my-3">
                    <div><span class="fa fa-clock-o fa-5x my-2"></span></div>
                    <h4>Efficient</h4>
                    <p>Optimized for all kinds of images</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- why section end -->

{% include 'footer.html' %}
{% endblock %}