<!-- Main HTML file -->

{% extends 'base.html' %}

{% block title %}
    <title>imageplus</title>
{% endblock %}

{% block body %}

<!-- ======= Body Section ======= -->
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div id="mobile-menu-overlay"></div>
	<nav class="navbar navbar-expand-lg fixed-top nav-header" style="background-color: #fff">
		<div class="container">
			<a class="navbar-brand" href="#"><img src="static/images/logo.png" alt="Marshmallow"></a>
			<button class="navbar-toggler" style="background-color: #3c37f1"  type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"><i class="mdi mdi-menu"> </i></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<div class="d-lg-none d-flex justify-content-between px-4 py-3 align-items-center">
					<img src="static/images/logo.png" class="logo-mobile-menu" alt="logo">
					<a href="javascript:;" class="close-menu"><i class="mdi mdi-close"></i></a>
				</div>
				<ul class="navbar-nav ml-auto align-items-center">
					<li class="nav-item active">
						<a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#testimonial">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#plans">API</a>
					</li>
					<li class="nav-item">
						<a class="nav-link btn btn-primary" href="https://wa.me/2349023046356?text=I'm%20interested%20in%20imageplus%20for%20service">
							<img src="static/images/whatsapp.svg" />

							+234-902-304-6356</a>

					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="page-body-wrapper">
	
		<section class="our-process" id="about">
			<div class="container">
				<div class="row">
					<div class="col-sm-6" data-aos="fade-up">
					   <!--<h3 class="font-weight-medium text-dark">imagePlus, process your image</h3>-->
					   
					   <div class="container">
						<p class="font-weight-medium mb-4"> <br/>
							<br/>
							   <t/>Explore unlimited Image processing <br/>
							 possibilities with image plus
						</p>
						<a href="#testimonial" class="btn btn-primary">Get Started</a>
					   </div>
	
					</div>
					<div class="col-sm-6 text-right" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
						<img src="static/images/creating-film.jpg" alt="idea" class="img-fluid">
					</div>
				</div>
			</div>
		</section> 
		
		<section class="testimonial" id="testimonial">
			<div class="container">
				<div class="row  mt-md-0 mt-lg-4">
					<div class="col-sm-6 text-white" data-aos="fade-up">
						<p class="font-weight-bold mb-3">Features</p>
						<h3 class="font-weight-medium">Click on a feature<br>to try out</h3>
						<ul class="flipster-custom-nav">
							<li class="flipster-custom-nav-item">
								<a href="javascript:;" class="flipster-custom-nav-link" title="0"></a>
							</li>
							<li class="flipster-custom-nav-item">
								<a href="javascript:;" class="flipster-custom-nav-link"  title="1"></a>
							</li>
							<li class="flipster-custom-nav-item">
								<a href="javascript:;" class="flipster-custom-nav-link active" title="2"></a>
							</li>
							<li class="flipster-custom-nav-item">
								<a href="javascript:;" class="flipster-custom-nav-link"  title="3"></a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6" data-aos="fade-up">
						<div id="testimonial-flipster">
							<ul>
								<li>
									<div class="testimonial-item">
										<img src="static/images/testimonial/change-background.svg" alt="icon" class="testimonial-icons">
										<p>Switch image background automatically using accurate AI-based Image segmentation.</p>
										<h6 class="testimonial-author">Change Background</h6>
										<a href="#" class="btn btn-outline-primary"> Try now</a>
									</div>
								</li>
								<li>
									<div class="testimonial-item">
										<img src="static/images/testimonial/magic-wand.svg" alt="icon" class="testimonial-icons">
										<p>Enhaunce quality by reducing noise, sharpening, improving constrast and brightness</p>
										<h6 class="testimonial-author">Image Enhaucement</h6>
										<a href="#" class="btn btn-outline-primary"> Try now</a>
									</div>
								</li>
								<li>
									<div class="testimonial-item">
										<img src="static/images/testimonial/resize.svg" alt="icon" class="testimonial-icons">
										<p>Resize your image to a specific height and width</p>
										<h6 class="testimonial-author">Image Resizing</h6>
										<a href="/upload-image/{{ 'resize' }}" class="btn btn-outline-primary"> Resize</a>
									</div>
								</li>
								<li>
									<div class="testimonial-item">
										<img src="static/images/testimonial/sketch.svg" alt="icon" class="testimonial-icons">
										<p>Automatically convert an image to an equivalent pencil sketch, Bye to artists</p>
										<h6 class="testimonial-author">Pencil Sketch</h6>
										<a href="#" class="btn btn-outline-primary"> Try now</a>
									</div>
								</li>
								<li>
									<div class="testimonial-item">
										<img src="static/images/testimonial/flow.svg" alt="icon" class="testimonial-icons">
										<p>Transform images by blending, rotating, changing image shapes</p>
										<h6 class="testimonial-author">Transform</h6>
										<a href="#" class="btn btn-outline-primary"> Try now</a>
									</div>
								</li>
								<li>
									<div class="testimonial-item">
										<img src="static/images/testimonial/filter.svg" alt="icon" class="testimonial-icons">
										<p>Add filter to images</p>
										<h6 class="testimonial-author">Filter</h6>
										<a href="#" class="btn btn-outline-primary"> Try now</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pricing-list" id="plans">
			<div class="row" >	
			
		</div>
		<div class="row" >	
			<div class="container ">
					<div class="col-sm-12 " style="padding-top: 50px;">
						<div class="d-sm-flex justify-content-between align-items-center mb-2">
							<div>
								<h3 class="font-weight-medium text-dark ">Developers</h3>
								<h5  class="font-weight-medium mb-4" >Try out our Api Rest API</h5>
							</div>
							<div class="mb-5 mb-lg-0 mt-3 mt-lg-0">
								<div class="d-flex align-items-center">
									<a href="#" class="btn btn-success"> Try REST API</a>

								</div>
							</div>
						</div>
				</div>
			</div>		
		</section>
		
	</div>
{% include 'footer.html' %}
{% endblock %}
<!-- Body Section end -->
