<!-- Navbar section -->
<header class="header-section clearfix">
    <a href="index.html" class="site-logo">
        <p>IMAGEPLUS</p>
    </a>
    <div class="header-right">
        <a href="#why" class="hr-btn">Why us</a>
        <span>|</span>
        <div class="user-panel">
            <a href="#api" class="login">Api</a>
            <a href="" class="register">View privacy policy</a>
        </div> 
    </div>
    <ul class="main-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#features">Features</a>
            <ul class="sub-menu">
                <li><a href="">Image resizing</a></li>
                <li><a href="">2D Image cartooning</a></li>
                <li><a href="">Image compression</a></li>
                <li><a href="">Change Image background</a></li>
                <li><a href="">Image to Pencil sketch</a></li>
                <li><a href="">More ...</a></li>
            </ul>
        </li>
    </ul>
</header>
<!-- Navbar section end -->